*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    width: 100%;
    margin-top: 25px;
    background-color: #505050;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 12px;
    margin-bottom: 25px;
}

.img-assunto{
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    
}

.img-assunto img{
    
    width: 65%;
    height: 200px;
}

.line-purple{
    background-color: purple;
    padding: 1px;
}

.img-noticias{
    text-align: center;
    margin-top: 35px;
}

.img-noticias img{
    width: 33%;
    justify-content: space-around;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.anuncio{
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.anuncio img{
    width: 65%;
    height: 200px;
}