*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-1{
    width: 45%;
    background-color: yellowgreen;
    display: block;
    float: left;
    height: 400px;
}

.col-2{
    width: 45%;
    background-color: yellow;
    display: block;
    float: left;
    padding: 2%;
    height: 400px;
}
.news-2{
    width: 100%;
    float: left;
    height: 30px;
    background-color: violet;
}
.news-3{
    width: 100%;
    float: left;
    height: 30px;
    background-color: rgb(13, 68, 100);
}