<div class="feedback w30">
    <div class="box-feedback">
        <h2>Follow Us</h2>
        <p>Read our latest news on any of these social networks!</p>
        <div class="list-dot">
            <div class="dot"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="dot"><i class="fa-brands fa-twitter"></i></div>
            <div class="dot"><i class="fa-brands fa-instagram"></i></div>
            <div class="dot"><i class="fa-brands fa-whatsapp"></i></div>
            <div class="dot"><i class="fa-brands fa-github"></i></div>
            <div class="dot"><i class="fa-brands fa-youtube"></i></div>
        </div>
        <div class="line"></div>
        <div class="email-place">
            <h2>Get latest news delivered daily!</h2>
            <p>We will send you breaking news right to your inbox</p>
            <form>
                <input type="email" placeholder="Email..."/>
                <input type="submit" value="Send!" name="acao"/>
            </form>
        </div>
    </div>
</div>