<header class="header-principal">
    <div class="header-left">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="header-center">
        <a href="/">STech</a>
        <% if(type){ %>
        <div class="line-vertical"></div>
        <h2><%= type %></h2>
        <% } %>
    </div>
    <div class="header-right">
        <div class="icon"></div>
    </div>
</header>
<header class="header-secundario">
    <ul>
        <li><a href="/noticia">Notícias</a></li>
        <li><a href="/opiniao">Opinião</a></li>
        <li><a href="/cronica">Crônicas</a></li>
    </ul>
</header>